{% extends 'base_authentification.html' %}
{% load static %}
{% block content %}
<style>
/* Styles pour la mise en page */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('{% static 'images/lsy_1.jpeg' %}') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.form-container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-container {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

h2.section-title {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 20px;
}

.line span {
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #dc3545;
}

.btn-outline-danger {
    position: absolute;
    top: 10px;
    right: 10px;
}


</style>

<section class="form-container">
    <div class="confirmation-container">
        <a href="{% url 'accueil' %}">
            <button class="btn btn-outline-danger">
                <i class="fas fa-times"></i>
            </button>
        </a>
        <h2 class="section-title text-center text-danger">Confirmation de la demande</h2>
        <div class="line text-center">
            <span></span>
        </div>
        <p>😊 Merci <strong>{{ first_name }} {{ last_name }}</strong>, nous avons bien reçu votre demande de réinitialisation de mot de passe !</p>
        <hr>
        <p>Nous nous engageons à traiter votre demande dans les plus brefs délais. Vous recevrez une réponse sous peu.</p>
    </div>
</section>
{% endblock %}
