{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .capitalize h2 {
            font-size: 20px;
        }
    }

    .required {
        color: red; /* Couleur rouge pour le symbole * */
        font-size: 18px;
    }

    .checkbox-inline {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Espacement entre les cases à cocher */
    }

    .checkbox-inline .form-check {
        margin-right: 15px; /* Espacement entre les cases à cocher */
    }
</style>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header custum-form capitalize">
                    <h2 class="text-center">ENREGISTREMENT ENSEIGNANT</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="signup-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label> <span class="required">*</span>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label> <span class="required">*</span>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.matiere.id_for_label }}">{{ form.matiere.label }}</label> <span class="required">*</span>
                                {{ form.matiere }}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="{{ form.classes.id_for_label }}">{{ form.classes.label }}</label> <span class="required">*</span>
                                <div class="checkbox-inline">
                                    {% for checkbox in form.classes %}
                                        <div class="form-check">
                                            {{ checkbox.tag }} {{ checkbox.choice_label }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary validate">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
