{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title p {
            font-size: 16px;
        }
    }
</style>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="dashboard-header mb-0 text-center">
        <h3 class="display-5">GESTION DES PARENTS </h3>
        <p class="lead">Que souhaitez-vous faire aujourd'hui ?</p>
    </div>
    <!-- Barre de recherche -->
    <div class="row mb-4">
        <div class="col-md-12 md-1">
            <div class="">
                <div class="card-body title">
                    <form method="GET" action="{% url 'search-parents' %}" class="input-group">
                        <input class="form-control me-2" type="search" name="recherche" placeholder="Rechercher un parent..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Bloc : Liste des parents -->
        <div class="col-md-6 mb-4">
            <div class="card card-custom text-center">
                <div class="card-body title">
                    <p class="card-text">Consulter la liste de tous les parents d'élèves</p>
                    <a href="{% url 'list-parents' %}" class="btn btn-info btn-custom"><i class="fas fa-list"></i> Accéder</a>
                </div>
            </div>
        </div>
        <!-- Bloc : Ajouter un nouveau parent -->
        <div class="col-md-6 mb-4">
            <div class="card card-custom text-center">
                <div class="card-body title">
                    <p class="card-text">Ajoutez un parent à la base de données</p>
                    <a href="{% url 'parent_register' %}" class="btn btn-success btn-custom"><i class="fas fa-user-plus"></i> Ajouter</a>
                </div>
            </div>
        </div>
        <!-- Bloc : Rendez-vous des parents -->
        <div class="col-md-6 mb-4">
            <div class="card card-custom text-center">
                <div class="card-body title">
                    <p class="card-text title">Consulter les rendez-vous des parents</p>
                    <a href="{% url 'appointments' %}" class="btn btn-secondary btn-custom"><i class="fas fa-calendar-check"></i> Voir les rendez-vous</a>
                </div>
            </div>
        </div>
        <!-- Bloc : Message à tous les parents -->
        <div class="col-md-6 mb-4">
            <div class="card card-custom text-center">
                <div class="card-body title">
                    <p class="card-text">Messages à tous les parents</p>
                    <a href="{% url 'admin-to-all-parents' %}" class="btn btn-warning btn-custom"><i class="fas fa-envelope"></i> Partager</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Résultats de la recherche-->
    {% if parents %}
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Résultats de la recherche</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for parent in parents %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'parent-details' parent.id %}" class="text-decoration-none text-dark">
                                {{ parent.user.first_name }} {{ parent.user.last_name }}
                            </a>
                            <span class="badge badge-primary badge-pill">Détails</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
