{% extends 'base_administration.html' %}
{% block content %}

<style>
    @media (max-width: 768px) {
        h3 {
            font-size: 1.5rem;
        }

        .card-body {
            padding: 1rem;
        }

        .btn {
            font-size: 0.8rem; /* Réduit la taille de la police des boutons */
            padding: 0.5rem 1rem; /* Réduit le padding des boutons */
        }

        .row {
        }

    }
</style>

<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h3 class="text-center">Informations personnelles</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-9">
                    <h3>{{ parent.user.get_full_name }}</h3>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {% if parent.contact %}
                            <p><strong>N° Téléphone :</strong> {{ parent.contact }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 d-flex flex-wrap justify-content-between">
                <a href="{% url 'admin-to-unique-parent' parent.id %}" class="btn btn-outline-primary mb-2 mb-md-0"><i class="fas fa-envelope"></i></a>
                <a href="{% url 'delete-confirm-parent' parent.id %}" class="btn btn-outline-danger mb-2 mb-md-0"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
