{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title h3 {
            font-size: 20px;
        }
        .list-group-item h5 {
            font-size: 16px; /* Taille de la police de l'objet pour petits écrans */
        }
        .list-group-item p {
            font-size: 14px; /* Taille de la police du contenu pour petits écrans */
        }
        .list-group-item small {
            font-size: 12px; /* Taille de la police des éléments en petits caractères pour petits écrans */
        }
    }
</style>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <h3 class="mb-4 text-center">Messages envoyés</h3>
    <div class="list-group">
        {% for message in sent_messages %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ message.subject }}</h5>
                <small>{{ message.timestamp|date:"d/m/Y H:i" }}</small>
            </div>
            <p class="mb-1">{{ message.body|truncatewords:20 }}</p>
            {% if message.file %}
            <small class="text-muted">Fichier joint: {{ message.file.name }}</small>
            {% endif %}
            <small class="text-muted">
                {% if message.is_read %}
                    <i class="fas fa-check-circle text-success"></i> Lu
                {% else %}
                    <i class="fas fa-times-circle text-danger"></i> Non Lu
                {% endif %}
            </small>
        </a>
        {% empty %}
        <p class="text-center">Aucun message envoyé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
