{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title h3 {
            font-size: 20px;
        }
        .list-group-item h5 {
            font-size: 16px; /* Taille de la police de l'objet pour petits écrans */
        }
        .list-group-item p {
            font-size: 14px; /* Taille de la police du contenu pour petits écrans */
        }
        .list-group-item small {
            font-size: 12px; /* Taille de la police des éléments en petits caractères pour petits écrans */
        }
    }
    .message-body-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px; /* Espacement entre le contenu du message et les informations supplémentaires */
    }
    .message-info {
        margin-left: auto;
        text-align: right; /* Aligner les informations supplémentaires à droite */
    }
    }
</style>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <h3 class="mb-4 text-center">Messages envoyés</h3>
    <div class="list-group">
        {% for message in sent_messages %}
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#messageModal" data-subject="{{ message.subject }}" data-body="{{ message.body }}" data-file="{{ message.file.name }}" data-timestamp="{{ message.timestamp|date:'d/m/Y H:i' }}" data-recipients="{% for recipient in message.recipients.all %}{% if recipient.is_student %}{{ recipient.get_full_name }} | Elève - {{ recipient.student.classe }}{% elif recipient.is_teacher %}{{ recipient.get_full_name }} | Enseignant - {{ recipient.teacher.matiere }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ message.subject }}</h5>
                <small>{{ message.timestamp|date:"d/m/Y H:i" }}</small>
            </div>
            <p class="mb-1">{{ message.body|truncatewords:20 }}</p>
            <div class="message-body-container">
                <div>
                    {% if message.file %}
                    <small class="text-muted">Fichier joint: {{ message.file.name }}</small>
                    {% endif %}
                </div>
                <div class="message-info">
                    <small class="text-muted">
                        {% if message.is_read %}
                            <i class="fas fa-check-circle text-success"></i> Lu
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i> Non Lu
                        {% endif %}
                    </small>
                </div>
            </div>
        </a>
        {% empty %}
        <p class="text-center">Aucun message envoyé.</p>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Détails du message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="modal-subject"></h5>
                <small id="modal-timestamp" class="text-muted"></small>
                <p id="modal-body"></p>
                <div id="modal-file-container">
                    <small class="text-muted">Fichier joint: <a href="" id="modal-file-link" target="_blank"></a></small>
                </div>
                <small id="modal-recipients" class="text-muted"></small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#messageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var subject = button.data('subject')
        var body = button.data('body')
        var file = button.data('file')
        var timestamp = button.data('timestamp')

        var modal = $(this)
        modal.find('#modal-subject').text(subject)
        modal.find('#modal-timestamp').text(timestamp)
        modal.find('#modal-body').text(body)

        if (file) {
            modal.find('#modal-file-container').show()
            modal.find('#modal-file-link').attr('href', '/media/' + file).text(file)
        } else {
            modal.find('#modal-file-container').hide()
        }
    })
</script>

{% endblock %}
