{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title p {
            font-size: 16px;
        }
    }
</style>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h3 class="display-5">GESTION DE L'ETABLISSEMENT</h3>
            <p class="lead">Choisissez une option de gestion</p>
        </div>
    </div>
    <div class="row">
        <!-- Gestion des classes et matières-->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Classes et matières</h5>
                    <p class="card-text">Gérez les classes et les matières de l'école.</p>
                    <a href="{% url 'list-classes-subjects' %}" class="btn btn-info"><i class="fas fa-chalkboard"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Coefficients des matières -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Coefficients</h5>
                    <p class="card-text">Gérez les coefficients des matières.</p>
                    <a href="{% url 'coefficients-matieres' %}" class="btn btn-info"><i class="fas fa-cog"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Emploi du temps des élèves -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Emploi du temps des élèves</h5>
                    <p class="card-text">Gérez les différents emplois du temps.</p>
                    <a href="{% url 'schedule-class-list' %}" class="btn btn-info"><i class="fas fa-calendar-alt"></i> Voir +</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Emploi du temps des enseignants -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Emploi du temps des enseignants</h5>
                    <p class="card-text">Gérez les différents emplois du temps.</p>
                    <a href="{% url 'schedule-teacher-list' %}" class="btn btn-info"><i class="fas fa-calendar-alt"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Ajout d'annales -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Annales</h5>
                    <p class="card-text">Gérez les annales du site internet.</p>
                    <a href="{% url 'admin-annales-manage' %}" class="btn btn-info"><i class="fas fa-file-alt"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Ajout d'évènements -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Evènements</h5>
                    <p class="card-text">Gérez les évènements du site internet.</p>
                    <a href="{% url 'evenements' %}" class="btn btn-info"><i class="fas fa-calendar-week"></i> Voir +</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Ajout d'actualités -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Actualités</h5>
                    <p class="card-text">Gérez les actualités du site internet.</p>
                    <a href="{% url 'actualites' %}" class="btn btn-info"><i class="fas fa-newspaper"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Ajout de témoignages -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Témoignages</h5>
                    <p class="card-text">Gérez les témoignages du site internet.</p>
                    <a href="{% url 'testimonials' %}" class="btn btn-info"><i class="fas fa-comments"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Gestion des rendez-vous -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Rendez-vous parent d'élèves</h5>
                    <p class="card-text">Gérez les rendez-vous pris par les parents.</p>
                    <a href="{% url 'gestion-creneaux' %}" class="btn btn-info"><i class="fas fa-calendar-check"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Ajout d'informations -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Informations</h5>
                    <p class="card-text">Gérez les informations cruciales de l'école.</p>
                    <a href="{% url 'information-list' %}" class="btn btn-info"><i class="fas fa-info-circle"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Paramètres -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Paramètres</h5>
                    <p class="card-text">Gérez les paramètres globaux du site.</p>
                    <a href="/admin/" class="btn btn-info"><i class="fas fa-cogs"></i> Voir +</a>
                </div>
            </div>
        </div>
        <!-- Mot de passe -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Mot de passe</h5>
                    <p class="card-text">Gérez les mots de passe des utilisateurs.</p>
                    <a href="{% url 'password_reset' %}" class="btn btn-info"><i class="fas fa-key"></i> Voir +</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
