{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title h3 {
            font-size: 20px;
        }
    }
</style>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <h3 class="text-center"><strong>Liste des classes</strong></h3>
    <ul class="list-group mt-4">
    {% for class in classes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ class.get_name_display }}
            <a href="{% url 'schedule-students-view' class.id %}" class="btn btn-info btn-sm" title="Consulter l'emploi du temps">
                <i class="fas fa-calendar-alt"></i>
            </a>
        </li>
    {% endfor %}
    </ul>
</main>
{% endblock %}
