{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title h3 {
            font-size: 20px;
        }
        .btn {
            font-size: 0.8rem;
            padding: 0.4rem 0.8rem;
        }
    }
</style>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <h3 class="text-center">Ajouter une Actualité</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</main>
{% endblock %}
