{% extends 'base_profile.html' %}
{% block content %}
<style>
@media (max-width: 768px) {
    .welcome-message h5 {
        font-size: 17px;
    }
    .school-info h4 {
        font-size: 18px;
    }
    .card-header h2 {
        font-size: 16px;
    }
}
.warning { background-color: yellow; }
.event { background-color: blue; color: white; }
.danger { background-color: red; color: white; }
.info { background-color: green; color: white; }
</style>
<main class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
    <div class="row justify-content-center mt-4">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
                </div>
                <div class="card-body">
                    <div class="welcome-message mb-4">
                        <h5><strong>Classe :</strong> {{ student.classe }}</h5>
                    </div>
                    <div class="school-info mb-4">
                        <h4><strong><i class="fas fa-info-circle"></i>      INFORMATIONS</strong></h4>
                        <hr>
                        {% if informations %}
                            {% for info in informations %}
                            <div class="alert {{ info.category }}" role="alert">
                                <strong>{{ info.title }}</strong><br>
                                {{ info.content }}
                            </div>
                            {% endfor %}
                        {% else %}
                            <h6>Aucune information disponible actuellement</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
