{% extends 'base_accueil.html' %}
{% load static %}
{% block content %}
<style>
.accroche p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #555;
}
@media (max-width: 768px) {
    .accroche p {
        font-size: 1.1rem;
        padding: 0 10px;
    }
    .infra h2 {
    font-size: 1.3rem;
   }
}
</style>
<link rel="stylesheet" href="{% static 'accueil/style_lycee.css' %}">
<section class="py-2">
    <div class="container infra">
        <h2 class="section-title text-center">Évènements</h2>
        <div class="line text-center">
            <span></span>
        </div>
        <div class="accroche">
            <p class="text-center mt-4 font-italic">Découvrez les événements à venir de notre lycée.</p>
        </div>
        <div class="row mt-4">
            {% for evenement in evenements %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ evenement.image.url }}" class="card-img-top" alt="{{ evenement.titre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ evenement.titre }}</h5>
                            <p class="card-text">{{ evenement.description|slice:":100" }}...</p>
                            <a href="{% url 'event-detail' evenement.pk %}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Aucun événement disponible.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
