{% extends 'base_accueil.html' %}
{% load static %}
{% block content %}
<style>
    .text-container p {
        text-align: justify;
    }
    .text-container h2 {
        font-size: 17px;
    }
</style>
<link rel="stylesheet" href="{% static 'accueil/style_lycee.css' %}">
<section class="py-2">
    <div class="container text-container">
        <h2 class="text-center">{{ evenement.titre }}</h2>
        <div class="content-container">
            <img src="{{ evenement.image.url }}" alt="{{ evenement.titre }}" class="img-fluid">
            <p class="content-description">{{ evenement.description }}</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'events' %}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</section>
{% endblock %}
