{% extends 'base_accueil.html' %}
{% load static %}
{% block content %}
<style>
@media (max-width: 768px) {
  .infra h2 {
    font-size: 1.3rem;
    }
}
</style>
<link rel="stylesheet" href="{% static 'accueil/style_lycee.css' %}">
<section class="py-2 ">
    <div class="container infra">
        <h2 class="section-title text-center">Infrastructures et Équipements</h2>
        <div class="line text-center">
            <span></span>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <img src="{% static 'images/Equipements/infrastructure1.jpg' %}" alt="Bâtiment Principal" class="img-fluid rounded fixed-dimensions-image">
            </div>
            <div class="col-md-6 mb-4">
                <div class="content-block">
                    <h3 class="lead title-bold">Bâtiment administratif</h3>
                    <p>Notre bâtiment administratif est une structure moderne qui centralise les bureaux de l'administration scolaire, des salles de réunion et des espaces dédiés au personnel. Ce bâtiment est conçu pour offrir un environnement de travail efficace et confortable, facilitant la gestion quotidienne et les interactions entre le personnel et les étudiants.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 order-md-2 mb-4">
                <img src="{% static 'images/Equipements/laboratoire.jpg' %}" alt="Laboratoires de Sciences" class="img-fluid rounded fixed-dimensions-image">
            </div>
            <div class="col-md-6 order-md-1 mb-4">
                <div class="content-block">
                    <h3 class="lead title-bold">Laboratoires de Physique</h3>
                    <p class="font-deco">Nos laboratoires de sciences sont équipés de materiels adéquats pour permettre aux élèves du lycée de mener des expériences pratiques et de développer leurs compétences. Ces laboratoires sont essentiels pour notre programme de sciences rigoureux.</p>
                    <a href="{% url 'gallerie' %}" class="btn btn-info">PHOTOS</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <img src="{% static 'images/Equipements/bibliotheque.jpg' %}" alt="Bibliothèque Moderne" class="img-fluid rounded fixed-dimensions-image">
            </div>
            <div class="col-md-6 mb-4">
                <div class="content-block">
                    <h3 class="lead title-bold">Bibliothèque Moderne</h3>
                    <p>Notre bibliothèque est un espace de ressources où les élèves peuvent accéder à une vaste collection de livres, de revues académiques, et de ressources numériques. C'est un lieu de silence et de concentration pour l'étude et la recherche.</p>
                    <a href="{% url 'gallerie' %}" class="btn btn-info">PHOTOS</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 order-md-2 mb-4">
                <img src="{% static 'images/Equipements/salle-informatique.jpg' %}" alt="Salle Informatique" class="img-fluid rounded fixed-dimensions-image">
            </div>
            <div class="col-md-6 order-md-1 mb-4">
                <div class="content-block">
                    <h3 class="lead title-bold">Salle Informatique</h3>
                    <p>Notre salle informatique est équipée d'ordinateurs de pointe et de logiciels éducatifs pour enseigner les compétences numériques. Elle offre aux élèves l'opportunité de se familiariser avec les technologies actuelles et de se préparer pour l'avenir numérique.</p>
                    <a href="{% url 'gallerie' %}" class="btn btn-info">PHOTOS</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <img src="{% static 'images/Equipements/salle-sport.jpg' %}" alt="Complexe Sportif" class="img-fluid rounded fixed-dimensions-image">
            </div>
            <div class="col-md-6 mb-4">
                <div class="content-block">
                    <h3 class="lead title-bold">Complexe Sportif</h3>
                    <p>Notre complexe sportif comprend un gymnase, des terrains de sport en plein air, et des installations pour diverses activités physiques. Il est essentiel pour promouvoir un mode de vie sain et équilibré chez nos élèves.</p>
                    <a href="{% url 'gallerie' %}" class="btn btn-info">PHOTOS</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
