{% extends 'base_accueil.html' %}
{% load static %}
{% block content %}
<style>
    .text-container p {
        text-align: justify;
    }
    .text-container h2 {
        font-size: 17px;
    }
</style>
<link rel="stylesheet" href="{% static 'accueil/style_lycee.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<section class="py-2">
    <div class="container text-container">
        <h2 class="text-center">{{ actualite.titre }}</h2>
        <div class="content-container ">
            <img src="{{ actualite.image.url }}" alt="{{ actualite.titre }}" class="img-fluid">
            <p class="content-description">{{ actualite.description }}</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'news' %}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</section>
{% endblock %}
