{% extends 'base_accueil.html' %}
{% load static %}
{% block content %}

<style>
    .toggle-content {
        cursor: pointer;
    }

    .toggle-icon {
        float: right;
        color: green;
    }

    .toggle-content-body {
        display: none;
        padding-top: 10px;
    }
@media (max-width: 768px) {
  .infra h2 {
    font-size: 1.3rem;
    }
}
</style>
<link rel="stylesheet" href="{% static 'accueil/style_lycee.css' %}">
<section class="py-2">
    <div class="container infra">
        <h2 class="section-title text-center">Règlements Intérieurs</h2>
        <div class="line text-center">
            <span></span>
        </div>

        <div class="content-block mt-5">
            <h3 class="title toggle-content"><strong>Discipline Générale</strong> <span class="toggle-icon">&#x25BC;</span></h3>
            <div class="toggle-content-body">
                <p>Les élèves doivent respecter le règlement intérieur qui garantit un environnement propice à l'apprentissage. Le respect mutuel et la courtoisie sont exigés de tous.</p>
            </div>
        </div>
        <div class="content-block mt-4">
            <h3 class="title toggle-content"><strong>Tenue Vestimentaire</strong> <span class="toggle-icon">&#x25BC;</span></h3>
            <div class="toggle-content-body">
                <p>Le port de l'uniforme scolaire est obligatoire. Il doit être propre et bien entretenu. Les vêtements non conformes au règlement ne sont pas autorisés.</p>
            </div>
        </div>
        <div class="content-block mt-4">
            <h3 class="title toggle-content"><strong>Ponctualité et Assiduité</strong> <span class="toggle-icon">&#x25BC;</span></h3>
            <div class="toggle-content-body">
                <p>Les élèves doivent arriver à l'heure pour les cours. Toute absence doit être justifiée par écrit. Les retards répétitifs et les absences non justifiées peuvent entraîner des sanctions.</p>
            </div>
        </div>
        <div class="content-block mt-4">
            <h3 class="title toggle-content"><strong>Utilisation des Équipements</strong> <span class="toggle-icon">&#x25BC;</span></h3>
            <div class="toggle-content-body">
                <p>Les équipements scolaires doivent être utilisés avec soin. Toute dégradation volontaire sera sanctionnée et le remplacement sera à la charge de l'élève responsable.</p>
            </div>
        </div>
        <div class="content-block mt-4">
            <h3 class="title toggle-content"><strong>Sanctions </strong><span class="toggle-icon">&#x25BC;</span></h3>
            <div class="toggle-content-body">
                <p>Les sanctions disciplinaires varient selon la gravité des infractions, allant de l'avertissement à l'exclusion temporaire ou définitive. Les parents seront informés de toute sanction appliquée.</p>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleHeaders = document.querySelectorAll('.toggle-content');

        toggleHeaders.forEach(header => {
            header.addEventListener('click', function() {
                const contentBody = header.nextElementSibling;
                const icon = header.querySelector('.toggle-icon');

                if (contentBody.style.display === "none" || !contentBody.style.display) {
                    contentBody.style.display = "block";
                    icon.innerHTML = "&#x25B2;"; // Up arrow
                } else {
                    contentBody.style.display = "none";
                    icon.innerHTML = "&#x25BC;"; // Down arrow
                }
            });
        });
    });
</script>


{% endblock %}
