<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon portail | {{ user.first_name }} {{ user.last_name }}</title>
    <link rel="icon" type="image/png" href="{% static 'images/lsy_icon.png' %}">
    <link rel="stylesheet" href="{% static 'parent/style_parent.css' %}">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <style>
        .badge {
            position: relative;
            top: -10px;
            right: -10px;
            font-size: 0.75rem;
        }
    </style>
</head>
<body>
    <!-- Navbar horizontale -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler sidebar-toggle" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fas fa-bars"></i>
        </button>
        <img src="{% static 'images/lsy_icon.png' %}" alt="" class="mr-3" style="width: 40px; height: 40px; border-radius: 50%;">
        <a class="navbar-brand" href="#">Portail Parent</a>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="">
                    <ul class="nav flex-column">
                        <li class="nav-item my-3 text-center">
                            <i class="fas fa-user-friends fa-5x text-danger"></i>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'parent-dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>Tableau de Bord
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'children-details' %}">
                                <i class="fas fa-user-graduate"></i> Mon enfant
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'parent-to-admin' %}">
                                <i class="fas fa-envelope"></i> Messages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'parent-notifications' %}">
                                <span id="notification-badge-parent" class="badge badge-danger" style="display: none;"></span>
                                <i class="fas fa-bell"></i> Notifications
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'choisir-motif' %}">
                                <i class="fas fa-calendar-alt"></i> Rendez-vous
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'parent-change-password' %}">
                                <i class="fas fa-key"></i> Mot de passe
                            </a>
                        </li>
                    </ul>
                    <hr style="border: 1px solid #aaaaaa;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger text-center" href="{% url 'logout' %}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            // Demander la permission pour les notifications de bureau
            if (Notification.permission !== "granted") {
                Notification.requestPermission();
            }

            let lastParentNotificationCount = 0;

            function updateParentNotifications() {
                $.ajax({
                    url: '{% url "unread-notifications-count-parent" %}',
                    method: 'GET',
                    success: function(data) {
                        if (data.unread_notifications_count > 0) {
                            $('#notification-badge-parent').text(data.unread_notifications_count).show();

                            // Afficher la notification de bureau uniquement si le nombre de notifications a augmenté
                            if (data.unread_notifications_count > lastParentNotificationCount) {
                                showDesktopNotification("Portail LSY", {
                                    body: "Vous avez une nouvelle notification",
                                    icon: "{% static 'images/lsy_icon.png' %}"
                                });
                            }
                        } else {
                            $('#notification-badge-parent').hide();
                        }
                        lastParentNotificationCount = data.unread_notifications_count;
                    }
                });
            }

            // Fonction pour afficher les notifications de bureau
            function showDesktopNotification(title, options) {
                if (Notification.permission === "granted") {
                    new Notification(title, options);
                }
            }


            setInterval(updateParentNotifications, 10000);

            // Vérification initiale au chargement de la page
            updateParentNotifications();

            // Toggle de la barre latérale
            $('.sidebar-toggle').click(function(){
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
