{% extends 'base_administration.html' %}
{% block content %}
<style>
    @media (max-width: 768px) {
        .title h3 {
            font-size: 20px;
        }
        .btn {
            font-size: 0.8rem;
            padding: 0.4rem 0.8rem;
        }
    }
</style>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 title">
    <h3>Confirmer la suppression</h3>
    <p>Êtes-vous sûr de vouloir supprimer cette absence ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{% url 'student-details' absence.student.id %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
