body {
  font-family: 'Arial', sans-serif;
}


.fixed-dimensions-image {
    width: 100%;
    height: 300px; /* Définir des dimensions fixes */
    object-fit: cover; /* Maintient le ratio d'aspect et centre l'image dans la zone définie */
    border-radius: 10px; /* Coins arrondis pour l'image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'image */
}

.section-title {
    font-size: 36px; /* Taille de police augmentée pour le titre */
    color: #333;;
    font-family: 'Arial'; /* Changer la police du titre */
    font-weight: bold; /* Gras pour le titre */
    margin-bottom: 10px;
    text-align: center;
}

.content-block {
    background-color: #f8f9fa; /* Couleur de fond légère pour le bloc de contenu */
    padding: 20px; /* Espacement intérieur du bloc de contenu */
    border-radius: 10px; /* Coins arrondis pour le bloc de contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour le bloc de contenu */
}

.content-block p {
    font-size: 15px; /* Taille de police augmentée pour les paragraphes */
    line-height: 1.6; /* Espacement des lignes augmenté */
    font-family: 'Arial';
    color: #5f5f5f;

}


.content-block:hover {
    transform: translateY(-10px);
}


.btn-success {
    background-color: #7cb62f; /* Couleur de fond du bouton */
    border-color: #7cb62f; /* Couleur de la bordure du bouton */
    color: #fff; /* Couleur du texte du bouton */
    margin-top: 15px; /* Espacement en haut du bouton */
}

.btn-success:hover {
    background-color: #6aa226; /* Couleur de fond du bouton au survol */
    border-color: #6aa226; /* Couleur de la bordure du bouton au survol */
}


.content-block h3  {/* Mettre en gras les titres */
    font-family: 'Arial'; /* Changer la police si nécessaire */
    color: #1a1a1a; /* Couleur du texte */
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

img {
    max-height: 300px;
}

.title-bold {
    font-size: 24px;
    font-weight: bold;
}


.line {
    width: 100%;
    background: #ddd;
    height: 3px;
    margin: 5px auto;
}

.line span {
    display: block;
    width: 100px;
    background-color: #7cb62f;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 0.5px;
}


/* style alumni */

/* Cards */
.card {
    margin-bottom: 2rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1rem;
}
.carousel-image-container {
    position: relative;
}

.carousel-caption-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    color: #fff; /* Texte en blanc pour plus de contraste */
}

.underline-green {
    border-bottom: 1px solid #43ca00;
    padding-bottom: 5px;
}

.content-container {
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

.content-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content-description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-height: 500px;
    overflow: auto;
    padding-top: 20px;
}
